@import "../../scss/typography";

.button {
  @include buttonMedium-styles;

  &--primary {
    color: var(--color-on-bg-primary-1);
    background-color: var(--color-bg-primary);
  }

  &--secondary {
    color: var(--color-on-bg-secondary-1);
    background-color: var(--color-bg-secondary);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  }

  &--small {
    font-size: 12px;
    padding: 10px 16px;
  }

  &--medium {
    font-size: 14px;
    padding: 11px 20px;
  }

  &--large {
    font-size: 16px;
    padding: 12px 24px;
  }
}
