@import "./functions";
@import './breakpoints';

/* Headers */
// H1
@mixin headerXL-styles {
  font-family: var(--font-family-Helvetica);
  font-weight: var(--font-weight-regular);
  font-size: rem(52);
  line-height: rem(48);
  letter-spacing: -0.0938rem;

  @include breakpoint(desktop) {
    font-size: rem(92);
    line-height: rem(88);
    letter-spacing: -0.2188rem;
  }
}
// H2
@mixin headerLarge-styles {
  font-family: var(--font-family-Helvetica);
  font-weight: var(--font-weight-regular);
  font-size: rem(32);
  line-height: rem(36);
  letter-spacing: -0.0313rem;

  @include breakpoint(desktop) {
    font-size: rem(56);
    line-height: rem(60);
    letter-spacing: -0.0938rem;
  }
}
// H3
@mixin headerMedium-styles {
  font-family: var(--font-family-Helvetica);
  font-weight: var(--font-weight-regular);
  font-size: rem(28);
  line-height: rem(32);
  letter-spacing: -0.0313rem;

  @include breakpoint(desktop) {
    font-size: rem(40);
    line-height: rem(44);
    letter-spacing: -0.0625rem;
  }
}
// H4
@mixin headerSmall-styles {
  font-family: var(--font-family-Helvetica);
  font-weight: var(--font-weight-regular);
  font-size: rem(24);
  line-height: rem(28);
  letter-spacing: -0.0313rem;

  @include breakpoint(desktop) {
    font-size: rem(32);
    line-height: rem(36);
    letter-spacing: -0.0313rem;
  }
}
// H5/6
@mixin headerXS-styles {
  font-family: var(--font-family-Helvetica);
  font-weight: var(--font-weight-regular);
  font-size: rem(20);
  line-height: rem(24);
  letter-spacing: -0.0313rem;

  @include breakpoint(desktop) {
    font-size: rem(28);
    line-height: rem(32);
    letter-spacing: -0.0625rem;
  }
}

/* Headlines */
@mixin headlineMedium-styles {
  font-family: var(--font-family-Helvetica);
  font-weight: var(--font-weight-regular);
  font-size: rem(24);
  line-height: rem(28);
  letter-spacing: -0.0625rem;
}

@mixin headlineSmall-styles {
  font-family: var(--font-family-Helvetica);
  font-weight: var(--font-weight-regular);
  font-size: rem(20);
  line-height: rem(24);
  letter-spacing: -0.0625rem;
}

/* Labels */
@mixin labelMedium-styles {
  font-family: var(--font-family-Helvetica);
  font-weight: var(--font-weight-regular);
  font-size: rem(16);
  line-height: rem(16);
  letter-spacing: 0px;
}

@mixin labelSmall-styles {
  font-family: var(--font-family-Helvetica);
  font-weight: var(--font-weight-regular);
  font-size: rem(12);
  line-height: rem(12);
  letter-spacing: 0px;
}

/* Body text */
@mixin bodyMedium-styles {
  font-family: var(--font-family-Helvetica);
  font-weight: var(--font-weight-regular);
  font-size: rem(16);
  line-height: rem(24);
  letter-spacing: 0px;
}

@mixin bodySmall-styles {
  font-family: var(--font-family-Helvetica);
  font-weight: var(--font-weight-regular);
  font-size: rem(12);
  line-height: rem(16);
  letter-spacing: 0px;
}

/* Components */
@mixin buttonMedium-styles {
  font-family: var(--font-family-Helvetica);
  font-weight: var(--font-weight-medium);
  font-size: rem(16);
  line-height: rem(20);
  letter-spacing: -0.125rem;

  @include breakpoint(desktop) {
    font-size: rem(20);
    line-height: rem(24);
    letter-spacing: 0px;
  }
}

@mixin buttonSmall-styles {
  font-family: var(--font-family-Helvetica);
  font-weight: var(--font-weight-medium);
  font-size: rem(16);
  line-height: rem(16);
  letter-spacing: 0px;
}
