@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src: url('../assets/fonts/helvetica_neue/light/HelveticaNeueLTW05-45Light.eot');
  src: url('../assets/fonts/helvetica_neue/light/HelveticaNeueLTW05-45Light.eot')
      format('embedded-opentype'),
    url('../assets/fonts/helvetica_neue/light/HelveticaNeueLTW05-45Light.woff2')
      format('woff2'),
    url('../assets/fonts/helvetica_neue/light/HelveticaNeueLTW05-45Light.woff')
      format('woff'),
    url('../assets/fonts/helvetica_neue/light/HelveticaNeueLTW05-45Light.ttf')
      format('truetype'),
    url('../assets/fonts/helvetica_neue/light/HelveticaNeueLTW05-45Light.svg#HelveticaNeueLTW05-45Light')
      format('svg');
  font-weight: 300;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src: url('../assets/fonts/helvetica_neue/regular/HelveticaNeueLTW05-55Roman.eot');
  src: url('../assets/fonts/helvetica_neue/regular/HelveticaNeueLTW05-55Roman.eot')
      format('embedded-opentype'),
    url('../assets/fonts/helvetica_neue/regular/HelveticaNeueLTW05-55Roman.woff2')
      format('woff2'),
    url('../assets/fonts/helvetica_neue/regular/HelveticaNeueLTW05-55Roman.woff')
      format('woff'),
    url('../assets/fonts/helvetica_neue/regular/HelveticaNeueLTW05-55Roman.ttf')
      format('truetype'),
    url('../assets/fonts/helvetica_neue/regular/HelveticaNeueLTW05-55Roman.svg#HelveticaNeueLTW05-55Roman')
      format('svg');
  font-weight: 400;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src: url('../assets/fonts/helvetica_neue/medium/HelveticaNeueLTW05-65Medium.eot');
  src: url('../assets/fonts/helvetica_neue/medium/HelveticaNeueLTW05-65Medium.eot')
      format('embedded-opentype'),
    url('../assets/fonts/helvetica_neue/medium/HelveticaNeueLTW05-65Medium.woff2')
      format('woff2'),
    url('../assets/fonts/helvetica_neue/medium/HelveticaNeueLTW05-65Medium.woff')
      format('woff'),
    url('../assets/fonts/helvetica_neue/medium/HelveticaNeueLTW05-65Medium.ttf')
      format('truetype'),
    url('../assets/fonts/helvetica_neue/medium/HelveticaNeueLTW05-65Medium.svg#HelveticaNeueLTW05-65Medium')
      format('svg');
  font-weight: 500;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src: url('../assets/fonts/helvetica_neue/bold/HelveticaNeueLTW05-75Bold.eot');
  src: url('../assets/fonts/helvetica_neue/bold/HelveticaNeueLTW05-75Bold.eot')
      format('embedded-opentype'),
    url('../assets/fonts/helvetica_neue/bold/HelveticaNeueLTW05-75Bold.woff2')
      format('woff2'),
    url('../assets/fonts/helvetica_neue/bold/HelveticaNeueLTW05-75Bold.woff')
      format('woff'),
    url('../assets/fonts/helvetica_neue/bold/HelveticaNeueLTW05-75Bold.ttf')
      format('truetype'),
    url('../assets/fonts/helvetica_neue/bold/HelveticaNeueLTW05-75Bold.svg#HelveticaNeueLTW05-75Bold')
      format('svg');
  font-weight: 600;
}

* {
  --font-family-Helvetica: 'Helvetica Neue LT Pro', Arial,
    sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}
